@font-face {
  font-family: "nightregular";
  src: url("night-regular-webfont.woff2") format("woff2"),
    url("night-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  /* background-color: rgb(189, 243, 225); */
  margin-top: 2%;
  font-family: "nightregular";
  background-image: url("https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png");
  background-size: cover;
}

div {
  width: 480px;
  margin: 2% auto;
}

button {
  width: 70px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

canvas {
  background-color: rgba(211, 206, 206, 0.74);
  border: 1px solid black;
}
